/*-----------
    For Smartphone
    --------- */
@media only screen and (min-width: 361px) and (max-width: 599px){
    body{
        width: 100%;
    }
    .watch_btn{
        width: 10.5em;
        height: 2.5em;
        padding: 0.2em .2em;
    }
    header{
        padding: 2em 7em 3em 3em;
    }
    .navbar{
        display: none;
    }
    .header_banner{
        flex-direction: column;
    }
    .banner_image img{
        width: 340px;
        height: 280px;
        padding: 3em 1em 1em 1em;
        
    }
    .banner_text{
        width: 100%;
        font-size: 2.5em;
        line-height: 50px;
    }
    .banner_btn{
        margin-top: 1em;
    }
    .players{
        padding: 0;
        grid-template-columns: repeat(1,1fr);
        grid-column-gap: 2.5em;
    }
    .player{
        margin: auto;
        width: 300px;
    
    }
    .highlights{
        flex-direction: column;
        justify-content:center;
        padding: 0 1em;
    }
    .highlight_text{
    /* width: 469px; */
    width: 300px;
    }
.highlight_text h3{
    font-size: 1.9em;
    line-height: 60px;

}
.highlight_img img{
    margin-top: 2em;
    width: 328px;
    height: 258px;
}
.newsletter{
    padding: 0;
}
.newsletter_msg{
    padding: 2em 0 4em 0;
    border-radius: 0;
}
.newsletter_msg h3{
    font-size: 2em;
}
.newsletter_form{
    padding: 0;
}
.newsletter_form input{
    display: block;
    margin:auto;
}
.newsletter_form a{
    margin: 10px 5px;
    width: 5.5em;
    height: 1.5em;
    display: inline-block;
}
footer{
    margin-bottom: 10em;
}
.footer_img img{
    width: 330px;
}

}





/* -----------
    For Tiny Phone
    --------- */
    @media only screen and (max-width: 360px) {
        body{
            width: 100%;
        }
        .watch_btn{
            width: 10.5em;
            height: 2.5em;
            padding: 0.2em .2em;
        }
        header{
            padding: 2em 5em 2em 1em;
        }
        .navbar{
            display: none;
        }
        .header_banner{
            flex-direction: column;
        }
        .banner_image img{
            width: 329px;
            height: 259.17px;
            padding: 3em 1em 1em 4em;
            
        }
        .banner_text{
            width: 100%;
            font-size: 2em;
            line-height: 35px;
        }
        .banner_btn{
            margin-top: 1em;
        }
        .players{
            padding: 0 1em;
            grid-template-columns: repeat(1,1fr);
            grid-column-gap: 2.5em;
        }
        .player{
            width: 300px;
            box-shadow: 0px 0px 40px 0px #00000026;
        
        }
        .highlights{
            flex-direction: column;
            align-items: center;
            justify-content:center;
            padding: 0 1em;
        }
        .highlight_text{
        /* width: 469px; */
        width: 300px;
    }
    .highlight_text h3{
        font-size: 1.9em;
        line-height: 60px;
    
    }
    .highlight_img img{
        margin-top: 2em;
        width: 328px;
        height: 258px;
    }
    /* .newsletter_msg{
        padding: 2em 0em 4em 0em;
        border-radius: 0;
    }
    .newsletter_msg h3{
        font-size: 2em;
    }
    .newsletter_form{
        padding: 0;
    }
    .newsletter_form input{
        display: block;
        margin:0 60px;
    }
    .newsletter_form a{
        margin: 10px 5px;
        width: 5.5em;
        height: 1.5em;
        display: inline-block;
        display: none;
    } */
    .newsletter{
        padding: 0;
    }
    .newsletter_msg{
        padding: 2em 1em 4em 1em;
        border-radius: 0;
    }
    .newsletter_msg h3{
        font-size: 1.7em;
    }
    .newsletter_form{
        padding: 0;
    }
    .newsletter_form input{
        display: block;
        margin:auto;
    }
    .newsletter_form a{
        margin: 9px 4px;
        width: 5.5em;
        height: 1.5em;
        display: inline-block;
    }
    
    footer{
        margin-bottom: 5em;
    }
    .footer_img img{
        width: 330px;
    }
    
    }