/*-----------
    For Smartphone
    --------- */
@media only screen and (min-width: 361px) and (max-width: 599px){
    /*-----------
    Common CSS
    --------- */
    body{
        width: 100%;
    }
    .watch_btn{
        width: 10.5em;
        height: 2.5em;
        padding: 0.2em .2em;
    }
    /*-----------
    Header Start
    --------- */
    header{
        padding: 2em 7em 3em 3em;
    }
    .navbar{
        display: none;
    }
    /*-----------
    Banner Start
    --------- */
    .header_banner{
        flex-direction: column;
    }
    .banner_image img{
        width: 340px;
        height: 280px;
        padding: 3em 1em 1em 1em;
        
    }
    .banner_text{
        width: 100%;
        font-size: 2.5em;
        line-height: 50px;
    }
    .banner_btn{
        margin-top: 1em;
    }
    /*-----------
    Section Players Start
    --------- */
    .players{
        padding: 0;
        grid-template-columns: repeat(1,1fr);
        grid-column-gap: 2.5em;
    }
    .player{
        margin: auto;
        width: 300px;
    
    }

    /*-----------
    Section Highlight Start
    --------- */

    .highlights{
        flex-direction: column;
        justify-content:center;
        padding: 0 1em;
    }
    .highlight_text{
    /* width: 469px; */
    width: 300px;
    }
    .highlight_text h3{
    font-size: 1.9em;
    line-height: 60px;

    }
    .highlight_img img{
        margin-top: 2em;
        width: 328px;
        height: 258px;
    }
    /*-----------
    Section Match info Start
    --------- */
    .matches{
        margin:0;
        grid-gap:0;
        margin-bottom: 10.5em;
    }
    .match_header{
        border-radius: 0;
    }
    .match_header h3{
        padding: 0;
        margin-bottom: 0;
        font-size: 1.5em;
    }
    .match_info{
        grid-template-columns: repeat(2,1fr);
        grid-gap: 1em 1em;
        padding: 1em 1em;
        border-radius: 0em;
    }
    .match{
        padding: 0px 8px;
        box-shadow: -1px -2px 5px 2px #5d3232;
        border-radius: 12px;
    }
    .match h3{
        color: var(--h3_black);
        padding: 3px 0;
    }

    /*-----------
    Section Newsletter Start
    --------- */
    .newsletter{
        padding: 0;
    }
    .newsletter_msg{
        padding: 2em 0 4em 0;
        border-radius: 0;
    }
    .newsletter_msg h3{
        font-size: 2em;
    }
    .newsletter_form{
        padding: 0;
    }
    .newsletter_form input{
        display: block;
        margin:auto;
    }
    .newsletter_form a{
        margin: 10px 5px;
        width: 5.5em;
        height: 1.5em;
        display: inline-block;
    }
    /*-----------
    Footer Start
    --------- */
    footer{
        margin-bottom: 10em;
    }
    .footer_img img{
        width: 330px;
    }

}