/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Animation */
@keyframes shakeX {
    10%, 90% {
      transform: translate3d(-1px, 4px, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, -4px, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 2px, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, -1px, 0);
    }
  }
@keyframes shakeY {
    10%, 90% {
      transform: translate3d(4px, -1px, 0);
    }
    
    20%, 80% {
      transform: translate3d(-4px, 2px, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(2px, -4px, 0);
    }
  
    40%, 60% {
      transform: translate3d(-1px, 4px, 0);
    }
  }


/*-----------
    Common CSS
    --------- */
:root{
    --blue_bg : #2D25A0;
    --btn_bg : #E02C6D;
    --h3_black: #18191F;
    --p_ash: #6C6C6C;
}
*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    color: #FFFFFF;
}
body{
    width: 100%;  
}
a{

    text-decoration: none;
    
}
.watch_btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--btn_bg);
    font-weight: 500;
    width: 10.5em;
    height: 2.5em;
    padding: 0.65em 1.5em;
}
/*-----------
    Header Start
    --------- */
header{
    /* height: 80vh; */
    padding: 3em 7em 3em 8em;
    background-color: var(--blue_bg);
    
}
/*-----------
    NavBar Start
    --------- */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 500;
    font-size: 1em;
    margin-bottom: 6.5em;
}
.nav_list>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;

    list-style: none;
    /* width: 720px; */
    width: 35em;

}

.login{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--btn_bg);
    /* padding: 10px 24px; */
    padding: 0.5em 1.5em;
}
.login i{
    margin-right: 8px;
}
/*-----------
    NavBar End
    --------- */

/*-----------
    Banner Start
    --------- */
.header_banner:hover .banner_image img{
    
    animation: shakeX 0.82s cubic-bezier(.36,.07,.19,.97) 3 both;
    transform: translate3d(0, 0, 0);
}
.header_banner:hover .banner_info{
    animation: shakeY 0.82s cubic-bezier(.36,.07,.19,.97) 3 both;
    transform: translate3d(0, 0, 0);
}
.header_banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner_image img{
    width: 555px;
    height: 446px;
}
.banner_text{
    /* width: 485px; */
    width: 7.5em;
    
    font-weight: 700;
    /* font-size: 64px; */
    font-size: 4em;
    line-height: 80px;
    transition: transform .5s ease-in-out;
}
.banner_btn{
    margin-top: 4em;
    transition: transform .5s ease-in;
}
/*-----------
    Banner End
    --------- */
/*-----------
    Header End
    --------- */

/*-----------
    Main Start
    --------- */
main{
    margin-top: 4.5em;
}
/*-----------
    Section Players Start
    --------- */
.players{
    margin-bottom: 10.5em;
    padding: 0px 5em;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2em;
}

.player{
    width: 330px;
    height: 475px;
    /* padding: 15px; */
    padding: 1em;
    box-shadow: 0px 0px 40px 0px #00000026;

}
.player_img{
    height: 16.25em;
}
.player_img img{
    width: 100%;
    height: 100%;
}
.player_info{
    margin-top: 1em;
    margin-right: 1em;
}
.player_info h3{
    color: var(--h3_black);
    font-weight: 700;
    font-size: 1.75em;
    margin-bottom: .7em;
}
.player_info p{
    color: var(--p_ash);
    /* font-size: 16px; */
    font-size: 1em;
    /* line-height: 26px; */
    line-height: 2em; 
}

/*-----------
    Section Player End
    --------- */

/*-----------
    Section Highlight Start
    --------- */

.highlights{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 2em 0 5em;
    margin-bottom: 10.5em;
}
.highlight_text{
    /* width: 469px; */
    width: 30em;
}
.highlight_text h3{
    color: var(--h3_black);
    margin-bottom: 1em;
    font-weight: 700;
    /* font-size: 48px; */
    font-size: 3em;
    line-height: 60px;

}
.highlight_text p{
    color: var(--p_ash);
    font-size: 1em;
    line-height: 28px;
}
.highlight_img img{
    width: 450px;
    height: 340px;
}
.highlight_text a{
    margin-top: 1.5em;
}
/*-----------
    Section Highlight End
    --------- */

/*-----------
    Section Match info Start
    --------- */
.matches{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin:0px 5em;
    margin-bottom: 10.5em;
    text-align: center;
    grid-gap: 2em 2em;
}
.match_header{
    background-color: var(--blue_bg);
    border-radius: 1em;
}
.match_header h3{
    padding: .2em 0 0 0;
    margin-bottom: .1em;
    font-size: 3em;
    color: white;
}
.matches h3{
    font-weight: 700;
}
.match_info{
    background-color: var(--btn_bg);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2em 9em;
    padding: 1em 5em;
    border-radius: 1em;
}
.match{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12px;
    box-shadow: white;
    border-radius: 12px;
    box-shadow: -1px -2px 5px 2px #5d3232;
}
.match h3{
    color: var(--h3_black);
    padding: 5px 0;
}
.match_time h4,.match_time p{
    font-weight: 400;

}
/*-----------
    Section Match info End
    --------- */

/*-----------
    Section Newsletter Start
    --------- */
    .newsletter{
        /* To Do center */
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 5em; 
    }
    .newsletter_msg{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        
        /* padding: 4em; */
        padding: 4em 4em 2em 4em;
        background-color: var(--blue_bg);
        border-radius: 2em;
    }
    .newsletter_msg h3{
        margin-bottom: .5em;
        font-size: 3em;
        font-weight: 500;
    }
    .newsletter_form{
        width: 100%;
        margin-top: 1em;
        padding: 2em;
    }

    .newsletter_form input{
        font-size: 1em;
        padding: 1em;
        margin-right: 10px;
        border-radius: 10px;
        border: 2px solid rgb(12, 106, 194);
        box-shadow: inset 1px 1px 9px 2px rgb(37 40 160 / 51%);
    }
    .newsletter_form a{
        margin: 5px;
        background-color: var(--btn_bg);
        font-weight: 500;
        width: 10.5em;
        height: 2.5em;
        padding: 0.65em 1.5em;
        border-radius: .3em;
    }
/*-----------
    Section Newsletter End
    --------- */

/*-----------
    Menu End
    --------- */
/*-----------
    Footer Start
    --------- */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 10.5em;
    margin-bottom: 4em;
    
}
.footer_img img{
    width: 450px;
}
.social_link{
    font-size: 32px;
    margin: 20px 0;
}

.social_link i{
    color: #969BAB;
    padding-left: 14px;
}

.copyright h3{
    color: var(--h3_black);
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}
/*-----------
    Footer End
    --------- */