@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}
body{
    width: 1375px;
    
}
a{
    color: #FFFFFF;
    text-decoration: none;
    
}
.watch_btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #E02C6D;
    font-weight: 500;
    width: 10.5em;
    height: 2.5em;
    padding: 0.65em 1.5em;
}
/*-----------
    Header Start
    --------- */
header{
    /* height: 80vh; */
    padding: 3em 7em 3em 8em;
    background-color: #2D25A0;
    
}
/*-----------
    NavBar Start
    --------- */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    /* line-height: 24px; */
    color: #FFFFFF;
    margin-bottom: 6.5em;
}
.nav_list>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    /* width: 720px; */
    width: 35em;

}
/* .nav_list>ul>li>a{
    color: #FFFFFF;
    text-decoration: none;

} */
.login{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E02C6D;
    /* padding: 10px 24px; */
    padding: 0.5em 1.5em;
}
.login i{
    margin-right: 8px;
}
/*-----------
    NavBar End
    --------- */

/*-----------
    Banner Start
    --------- */
.header_banner:hover .banner_image img{
    
    transform: rotate(20deg) scale(1.1);
    /* transform:  */
}
.header_banner:hover .banner_text{
    
    transform: scale(1.2);
}
.header_banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner_image img{
    width: 555px;
    height: 446px;
    transition: transform .5s ease-out;
    
}
.banner_text{
    /* width: 485px; */
    width: 7.5em;
    color: #FFFFFF;
    font-weight: 700;
    /* font-size: 64px; */
    font-size: 4em;
    line-height: 80px;
    font-family: Poppins;
    transition: transform .5s ease-in-out;
}
.banner_btn{
    margin-top: 4em;
}
/*-----------
    Banner Start
    --------- */
/*-----------
    Header End
    --------- */

/*-----------
    Main Start
    --------- */
main{
    margin-top: 4.5em;
    /* padding: 0px 5em; */
}
/*-----------
    Section Players Start
    --------- */
.players{
    margin-bottom: 10.5em;
    padding: 0px 5em;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2em;
}

.player{
    width: 330px;
    height: 475px;
    /* padding: 15px; */
    padding: 1em;
    box-shadow: 0px 0px 40px 0px #00000026;

}
.player_img{
    height: 16.25em;
}
.player_img img{
    width: 100%;
    height: 100%;
}
.player_info{
    /* margin-top: 16px; */
    margin-top: 1em;
    /* margin-right: 15px; */
    margin-right: 1em;
    font-family: Poppins;
}
.player_info h3{
    color: #18191F;
    font-weight: 700;
    /* font-size: 28px; */
    font-size: 1.75em;
    /* margin-bottom: 10px; */
    margin-bottom: .7em;
}
.player_info p{
    color: #6C6C6C;
    /* font-size: 16px; */
    font-size: 1em;
    /* line-height: 26px; */
    line-height: 2em; 
}

/*-----------
    Section Player End
    --------- */

/*-----------
    Section Highlight Start
    --------- */

.highlights{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Poppins;
    padding: 0 2em 0 5em;
    margin-bottom: 10.5em;
}
.highlight_text{
    /* width: 469px; */
    width: 30em;
}
.highlight_text h3{
    
    margin-bottom: 1em;
    font-weight: 700;
    /* font-size: 48px; */
    font-size: 3em;
    line-height: 60px;

}
.highlight_text p{
    font-family: Poppins;
    font-size: 1em;
    line-height: 28px;
}
.highlight_img img{
    width: 450px;
    height: 340px;
}
.highlight_text a{
    margin-top: 1.5em;
}
/*-----------
    Section Highlight End
    --------- */
/*-----------
    Section Newsletter Start
    --------- */
    .newsletter{
        /* To Do center */
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 5em; 
    }
    .newsletter_msg{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        
        /* padding: 4em; */
        padding: 4em 4em 2em 4em;
        background-color: #2D25A0;
        color: white;
        font-family: Poppins;
        border-radius: 2em;
    }
    .newsletter_msg h3{
        margin-bottom: .5em;
        font-size: 3em;
        font-weight: 500;
    }
    .newsletter_form{
        width: 100%;
        margin-top: 1em;
        padding: 2em;
    }

    .newsletter_form input{
        
        font-size: 1em;
        
        padding: 1em;
        margin-right: 10px;
        border-radius: 10px;
        border: 2px solid rgb(12, 106, 194);
        box-shadow: inset 1px 1px 9px 2px rgb(37 40 160 / 51%);
    }
    .newsletter_form a{
        margin: 5px;
        background-color: #E02C6D;
        font-weight: 500;
        width: 10.5em;
        height: 2.5em;
        padding: 0.65em 1.5em;
        border-radius: .3em;
    }
/*-----------
    Section Newsletter End
    --------- */
/*-----------
    Menu End
    --------- */
/*-----------
    Footer Start
    --------- */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10.5em;
    margin-bottom: 4em;
    
}
.footer_img img{
    width: 450px;
}
.social_link{
    font-size: 32px;
    margin: 20px 0;
}

.social_link i{
    color: #969BAB;
    padding-left: 14px;
}

.copyright h3{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}
/*-----------
    Footer End
    --------- */